
body {
    background-color: #e0d5b0; 
    font-family: 'Barlow'; 
    padding: 30px;
    font-size: 24px;
}

h1 {
    text-align: center;
} 

.section-class {
    text-align: center; 
}

h1, h2, h3 { 
    font-size: 30px; 
    font-weight: bold; 
    font-family: 'Barlow';
}

nav {
    display: flex;
    justify-content: center; 
    background-color: #c5a582;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; 
}

a:link, a:visited {
    color: #382e21;
    text-decoration: none;
}

a:focus, a:hover {
    color: #b34a00;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.banner {
    width: 100%;
    height: 50px;
    background: rgb(165, 106, 42);
}
